
.header{
  background-color: blue;
  color: white;
}
.mainCards{
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 2rem;
  column-gap: 2rem;
  background: gainsboro;
}
.subCards{
  margin-top: 1rem;
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(175, 174, 174);
}
.subCards img{
  margin-top: 0.2rem;
  width: 20vw;
}
/* .subClass img{
  width: 20vw;

} */
